[Desktop Entry]
Encoding=UTF-8
Name=Link para tshell1_sem_echo.sh tshell1_sem_echo.sh
Type=Link
URL=https://moodle.c3sl.ufpr.br/mod/assign/view.php?id=39926&action=editsubmission#
Icon=text-html
